@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
 
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li {
    list-style: none;
    display: flex;
    gap: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    object-fit: cover;
}

button {
    padding: 5px 20px;
    margin: 15px 0;
    background-color: #EE8313;
    font: inherit;
    cursor: pointer;
    transition: .4s;
    border: none;
    border-radius: 7px;
}
.knopka{
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title-section {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
}

.btn-primary {
    padding: 12px 24px;
    font-weight: 600;
    background-color: #EE8313;
}
.div{
    display: flex;
}

.btn-primary:hover {
    background-color: #EF5E10;
}

.btn-secondary {
    padding: 12px 24px;
    border: 1px solid #EE8313;
    color: #EE8313;
    font-weight: 600;
    line-height: 24px;
}

/* Header */
#header-section {
    padding: 40px 0 107px;
}

.header {
    /* display: flex;  */
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    gap: 20px;
}

.header-logo__img,
.footer-about__img {
    width: 48px;
    height: 48px;
}

.nav-main {
    margin-left: auto;
}

.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

.nav-main__link:hover {
    color: #EE8313;
}

/* Banner */
#banner-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner {
    max-width: 475px;
    padding-top: 45px;
}

.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.banner__text {
    margin: 32px 0 48px;
    color: rgb(255 255 255 / 80%);
    font-size: 17px;
}

.banner-links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}

.banner-features__text {
    font-weight: 600;
    line-height: 24px;
}

.banner-features__text:first-child {
    margin-right: 40px;
}

.banner-features__text_strong {
    margin-right: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    vertical-align: sub;
}

.banner-img {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    width: 96%;
    height: 100%;
    background: url(img/baner-main.png) no-repeat;
}

.banner-img::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(52 52 52 / 30%);
}

/* Rent */
#rent-section {
    padding: 120px 0;
}

.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.rent {
    position: relative;
    height: 524px;
    font-weight: 600;
    background: url(img/rent.jpg) 50%/cover no-repeat;
}

.rent:nth-child(2) {
    background-image: url(img/rent_2.jpg);
}

.rent:nth-child(3) {
    background-image: url(img/rent_3.jpg);
}

.rent:nth-child(4) {
    background-image: url(img/rent_4.jpg);
}

.rent__name {
    position: absolute;
    top: 48px;
    left: 48px;
    font-size: 40px;
    letter-spacing: 0.6px;
}

.rent__link {
    position: absolute;
    bottom: 48px;
    right: 60px;
    padding-right: 30px;
    font-size: 24px;
    letter-spacing: 0.6px;
}

.rent__link:hover {
    color: #FFCC2C;
}

.rent__link::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 16px;
    background: url(img/arrow.svg) 50%/cover no-repeat;
    transform: translateY(-50%);
}

/* Services */
#services-section {
    padding-bottom: 120px;
}

.services-section__title {
    margin-bottom: 66px;
    text-align: left;
}

.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.services__img {
    margin-bottom: 24px;
}

.services__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.services__text {
    color: rgb(255 255 255 / 80%);
}

/* Destination */
#destination-section {
    padding-bottom: 162px;
}

.destination-section__title {
    margin: 0 auto 40px;
}

.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.destination {
    border: 1px solid #171717;
    background-color: #171717;
}

.destination-info {
    padding: 24px;
}

.destination__title {
    font-size: 24px;
    line-height: 32px;
}

.destination__text {
    margin: 10px 0 25px;
    color: rgb(255 255 255 / 80%);
}

.destination__price {
    position: relative;
    display: block;
    margin-bottom: 17px;
    padding-left: 42px;
    font-weight: 600;
}

.destination__price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(img/car_icon.svg) no-repeat;
    transform: translateY(-50%);
}

.destination__link {
    color: #EE8313;
}

.destination__link:hover {
    color: #EF5E10;
}

/* Location */
#location-section {
    padding-bottom: 102px;
}

/* Footer */
#footer-section {
    padding-top: 40px;
    background-color: #1F1905;
}

.footer-logo-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600px;
}

.footer-about__text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}

.footer-nav-wrap {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}

.footer-nav__header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}

.footer-nav__item {
    margin-bottom: 28px;
    line-height: 20px;
}

.footer-nav__link {
    color: rgb(255 255 255 / 80%);
}

.footer-nav__link:hover {
    color: #EE8313;
}

.footer-social__link {
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;
    background: url(img/social_1.svg) 50%/cover no-repeat;
}

.footer-social {
    margin-top: 32px;
}

.footer-social__link:nth-child(2) {
    background-image: url(img/social_2.svg);
}

.footer-social__link:nth-child(3) {
    background-image: url(img/social_3.svg);
    margin-bottom: 0;
}

.footer-copyright {
    padding: 20px 0;
    background-color: #EE8313;
}

.footer-copyright__text {
    text-align: center;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 300px;
        margin: 10px 0;
    }
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

.search {
    width: 75%;
}

.submit {
    width: 100px;
    background-color: #1c87c9;
    color: #ffffff;

}

.pagination {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 200px;
}

.pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: rgb(145, 248, 10);
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ffffff;
    border-radius: 5px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

/* General styles for small screens */
body {
    font-size: 14px;
    line-height: 24px;
}

/* For tablets and larger screens */
@media (min-width: 600px) {
    .container {
        padding: 0 20px;
    }

    .title-section {
        font-size: 48px;
        line-height: 56px;
    }

    .banner__header {
        font-size: 48px;
        line-height: 56px;
    }

    .banner__text {
        font-size: 16px;
    }
}

/* For desktops and larger screens */
@media (min-width: 992px) {
    .nav-main__list {
        gap: 36px;
        margin-right: 60px;
    }

    .banner {
        max-width: 500px;
    }

    .banner__header {
        font-size: 52px;
        line-height: 64px;
    }

    .banner__text {
        font-size: 17px;
    }

    .rent-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .services-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .destination-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For large desktops */
@media (min-width: 1200px) {
    .container {
        padding: 0 30px;
    }

    .title-section,
    .banner__header {
        font-size: 52px;
        line-height: 64px;
    }
}

/* Header */
@media (max-width: 768px) {
    #header-section {
        padding: 20px 0;
    }

    .nav-main__list {
        flex-direction: column;
        gap: 20px;
        margin-right: 0;
    }

    .btn-primary.header__btn {
        margin-top: 20px;
        align-self: flex-start;
    }
}

/* Banner */
@media (max-width: 768px) {
    #banner-section {
        padding-bottom: 30px;
    }

    .banner {
        max-width: 100%;
        padding-top: 20px;
    }

    .banner-img::before {
        width: 100%;
        height: 50%;
        top: 50%;
        background-size: cover;
    }

    .banner-links-wrap {
        flex-direction: column;
        gap: 15px;
    }

    .banner-features__text {
        display: block;
        margin-bottom: 10px;
    }
}

/* Rent Section */
@media (max-width: 768px) {
    #rent-section {
        padding: 60px 0;
    }

    .rent-wrap {
        grid-template-columns: 1fr;
    }

    .rent {
        height: 300px;
    }
}

/* Services Section */
@media (max-width: 768px) {
    #services-section {
        padding-bottom: 60px;
    }

    .services-wrap {
        grid-template-columns: 1fr;
    }
}

/* Destination Section */
@media (max-width: 768px) {
    #destination-section {
        padding-bottom: 81px;
    }

    .destination-wrap {
        grid-template-columns: 1fr;
    }
}

/* Footer */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-nav-wrap {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0 0 auto;
    }
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.burger-menu__line {
    width: 100%;
    height: 3px;
    background-color: #FFF;
    border-radius: 10px;
}

/* Media Query for Mobile Menu */
@media (max-width: 768px) {
    .nav-main {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav-main__list {
        flex-direction: column;
        gap: 20px;
    }

    .nav-main.active {
        display: flex;
        top: 74px;
    }

    .burger-menu {
        display: flex;
    }
}

/* General styles for small screens */
body {
    font-size: 14px;
    line-height: 24px;
}

/* For mobile screens */
@media (max-width: 450px) {
    .container {
        padding: 0 10px;
    }

    .header {
        align-items: center;

    }

    .nav-main {
        width: 100%;
        top: 60px;
    }

    form {
        display: grid
    }

    .nav-main__list {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    .burger-menu {
        width: 25px;
        height: 20px;
    }

    .burger-menu__line {
        height: 2px;
    }

    .banner {
        padding-top: 20px;
    }

    .banner__header {
        font-size: 36px;
        line-height: 44px;
    }

    .banner__text {
        font-size: 14px;
    }

    .banner-links-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .banner-features__text {
        margin-bottom: 10px;
    }

    .rent-wrap {
        grid-template-columns: 1fr;
    }

    .rent {
        height: 200px;
    }

    .services-wrap {
        grid-template-columns: 1fr;
    }

    .destination-wrap {
        grid-template-columns: 1fr;
    }

    .destination__title {
        font-size: 20px;
        line-height: 28px;
    }

    .destination__text {
        font-size: 14px;
    }

    .destination__price {
        font-size: 18px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .footer-nav-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer-social__link {
        width: 100px;
        height: 25px;
    }

    .pagination {
        gap: 5px;
        margin-left: 150px;
    }

    .pagination a {
        padding: 5px 10px;
    }

    .submit {
        width: 215px;
    }
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .footer-nav-wrap {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    .footer-logo-wrap {
        margin-bottom: 32px;
    }

    .footer-social__link {
        width: 100px;
        height: 25px;
    }
}

@media (max-width: 400px) {
    .footer-logo-wrap {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 32px;
    }

    .footer-about__text {
        max-width: 100%;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .footer-nav-wrap {
        flex-direction: column;
        gap: 15px;
        margin: 20px 0;
        align-items: center;
    }

    .footer-nav__header {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 18px;
    }

    .footer-nav__item {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 18px;
    }

    .footer-social__link {
        width: 80px;
        height: 20px;
        margin-bottom: 30px;
    }

    .footer-copyright {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .nav-main.active {
        width: 100%;
     }

}

@media (max-width:350px) {

    .nav-main.active {
        top: 74px;
    }
}
.h{
    margin-left: 35px;
    display: flex;
    gap: 15px;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width:990px) {
    .destination-wrap{
        grid-template-columns:repeat(2,1fr)
    }
}


.cc{
    font-size: 19px;
}


@media(max-width:806px){
    .destination-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Общие стили формы */
.post-form {
    max-width: 600px;
   
    padding: 20px 0;
}

/* Стили для каждого поля формы */
.post-form .form-group {
    margin-bottom: 15px;
}

/* Стили для кнопки Submit */
.post-form button[type="submit"] {
    background-color:  #EE8313;
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn.btn-success {
    background-color: #EE8313 ;/* Зеленый цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    padding: 14px; /* Внутренние отступы */
    margin: 25px;
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы для эффектов */
}

.btn.btn-success:hover {
    background-color: #000000; /* Более темный зеленый при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

.btn.btn-success:active {
    background-color: #11ff00; /* Ещё более темный зеленый при нажатии */
    transform: scale(1); /* Возврат к обычному размеру при нажатии */
}

