<footer id="footer-section">
    <div class="container">
        <div class="footer">
            <div class="footer-about">
                <div class="footer-logo-wrap">
                    <img class="footer-about__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkiDfeTlsagVKoRWx4fka4Ki1RPcuZKzAVeA&s"  alt="HKinvision logo">
                    <h3 class="footer-about__header" href="{% url 'main' %} ">HKinvision</h3>
                </div>
                <p class="footer-about__text">The World's Best Luxury Car’s Dealing Platform</p>
            </div>
            <div class="footer-nav-wrap">
                <div class="footer-nav">
                    <h3 class="footer-nav__header">Company</h3>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">About Us</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Product</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Testimonial</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h3 class="footer-nav__header">Support</h3>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">FAQ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Terms of Services</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h3 class="footer-nav__header">Category</h3>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Super Cars</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">Sport Cars</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="#">More Cars</a>
                        </li>
                    </ul>
                </div>
            </div>
          
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="footer-copyright__text">©2022 HKInvestor. All right reserved</p>
        </div>
    </div>
</footer>